html {
  background-color: black;
}

body {
  margin: 0;
}

.App {
  width: 1200px;
  background-color: grey;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 150px;
}

.navlinks {
  list-style: none;
  /* background-color: black; */
}

.navlinks a {
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: large;
}
